<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopAppWeb</title>
    
   
    
  
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bulma/css/bulma.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/footerCss.css" rel="stylesheet" />
    </environment>
    <environment exclude="Production">
        <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ShopAppWeb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <footer class="text-center text-white fixed-bottom " style="background-color: #caced1;">-->
    <!-- Grid container -->
    <!--<div class="container p-4">-->
    <!-- Section: Images -->
    <!--<section class="">
        <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="https://carsweek.ru/upload/medialibrary/cc9/cc9940cd1ae9d4769c0d749702919102.jpg"
                         class="w-100" />
                    <a href="#!">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="https://www.kucastil.rs/uploads/ck_editor/images/TEHNIKA/Najskuplji%20tvit%20ikada%20Jednim%20tvitom%20snizio%20vrednost%20svoje%20kompanije%20za%2014%20milijardi%20dolara/Najskuplji%20tvit%20ikada%20Jednim%20tvitom%20snizio%20vrednost%20svoje%20kompanije%20za%2014%20milijardi%20dolara%20660.jpeg"
                         class="footet-w-100" />
                    <a href="#!">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="https://www.conceptcarz.com/images/McLaren/2011-McLaren-MP4-12C_Image-018.jpg"
                         class="w-100" />
                    <a href="#!">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="https://images.hgmsites.net/hug/2014-porsche-boxster_100460990_h.jpg"
                         class="w-100" />
                    <a href="#!">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="https://s.yimg.com/os/creatr-uploaded-images/2021-04/b26b9e70-98fc-11eb-81e9-b33d9eb318d5"
                         class="footet-w-100" />
                    <a href="#!">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                     data-ripple-color="light">
                    <img src="https://tvoe-avto.com/wp-content/uploads/2016-Tesla-Model-S-60-front-three-quarter-in-motion-02-e1477952073682.jpg"
                         class="footet-w-100" />
                    <a href="#!">
                        <div class="mask"
                             style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Section: Images -->
    <!--</div>-->
    <!-- Grid container -->
    <!-- Copyright -->
    <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://vk.com/thef1nansist">Vlad Savchenko</a>
    </div>-->
    <!-- Copyright -->
    <!--</footer>-->

    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
    <div class="container body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <p>
                © 2021 Copyright:
                <a class="text-white" href="https://vk.com/thef1nansist">Vlad Savchenko</a>
            </p>
            </footer>
    </div>

  

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
